.header {
    height: 30vh;
    background-color: #505ac9;
}

a {
    text-decoration: none;
}
.container {
    direction: rtl;
    font-size: 13px;
    top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        margin-bottom: 2%;
        background-color: #fbfbfb;
        width: 17rem !important;
        border: 1px solid #fbfbfb;

        .card-body {
            line-height: 25px;

            .bi {
                color: rgb(76, 245, 10);
            }
        }
    }
}

/* Media Queries for Responsive Centering */
@media screen and (max-width: 768px) {
    .container {
        top: 20px;
        .card {
            margin-right: 20%;
            margin-left: 20%;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        top: 20px;
        .card {
            margin-right: 10%;
            margin-left: 10%;
        }
    }
}
